{
  "extends": ["airbnb", "airbnb-typescript/base", "airbnb/hooks", "prettier"],
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "import/extensions": "off",
    "import/prefer-default-export": "off"
  }
}
